* {
    font-family: Microsoft YaHei UI Light, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: rgb(44,60,70);
}

#header .title h1 {
    color: whitesmoke;
    text-shadow: 2px 2px 10px #000000;
    text-transform: uppercase;
    float: left;
}

#header .searchbar button {
    width: 3.5%;
    height: 45px;
    background-image: url('Images/1.Magnifier/MagnifierGlass.svg');
    background-repeat: no-repeat;
    background-position: 0px 0px;  
    border-radius: 50%;
    border: none;
    outline: none;
    float: right;
    cursor: pointer;
    transition: 0.5s;
}

#header .searchbar button:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), 0 2px 20px 0 rgba(0, 0, 0, 0.45);
}

#nav .movie-content #movie {
    display: inline-block;
    margin: 20px 39px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}

#nav .movie-content #movie .movieimage {
    position: relative;
}

#nav .movie-content #movie .playbutton {
    position: absolute;
    text-align: center;
    z-index: 1;
    opacity: 0;
    border-radius: 50%;
    transition: opacity 0.5s ease;
}

#nav .movie-content #movie:hover .playbutton {
    opacity: 1;
}

#nav .movie-content #movie .moviename h4 {
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 10px #000000;
}
